$background-day-color: #eee;
$background-day-color-hover: #ffbfcb;
$calendar-size: 726px;
$calendar-gap: 1px;
$calendar-padding: 10px;
$calendar-day-border-color: black;
$calendar-day-border-size: 1px;
$card-size: 100px;
$calendar-day-font: Arial, Helvetica, sans-serif;
$text-size: 30px;
